mss>=10.0.0
opencv-python>=4.8.0
numpy>=1.24.0
pillow>=10.0.0
keyboard>=0.13.5
pydirectinput>=1.0.4
pyperclip>=1.8.0
pytesseract>=0.3.10
tesserocr>=2.6.0; sys_platform == 'linux' or sys_platform == 'darwin'
pyinstaller>=6.0.0
